<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
<div>

<h1>{{todolist_detail.name}}</h1>

<a href="{% url 'todo_list_update' todolist_detail.id %}">Edit</a>
<p>
<a href="{% url 'todo_list_delete' todolist_detail.id %}">Delete</a></p>
<h2>Tasks</h2>

<table>

<th>Task</th><th>Due Date</th>
{% for detail in todo_list_detail.all %}
<tr><td><a href="{% url 'todo_item_update' todolist_detail.id %}">{{ detail.task }}</a></td><td>{{ detail.due_date }}</td></tr>


{% endfor %}
</table>


</div>


    </main>
</body>
</html>
